@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');


:root {
  font-family: "League Spartan", sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  /* background */
  background-image: url("./assets/images/bg-pattern-top-mobile.svg"), url("./assets/images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: 100%, 100%;
  /* colors */
  --verydarkmagenta: hsl(300, 43%, 22%);
  --softpink: hsl(333, 80%, 67%);
  --darkgraymagenta: hsl(303, 10%, 53%);
  --lightgraymagenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* GENERIC RESETS */

html,
body,
body div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
article,
footer,
header,
section,
mark,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

main,
article,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


/* we'll restore bullets as needed for content */

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}


main,
article,
aside,
figure,
footer,
header,
nav,
section,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


ins {
  background-color: var(--highlight-color);
  color: #000;
  text-decoration: none;
}

mark {
  background-color: var(--highlight-color);
  color: #000;
  font-style: italic;
  font-weight: bold;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ———— END THE GENERIC RESETS ———— */

footer {
  font-size: .75rem;
}

footer a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

footer a:hover {
  color: #535bf2;
}

h1 {
  color: var(--verydarkmagenta);
  font-size: 2rem;
  font-weight: 700;
}

h1+p {
  color: var(--darkgraymagenta);
}

.rating img {
  max-width: 5%;
}

.rating>div {
  display: flex;
}

.rating p {
  color: var(--verydarkmagenta);
  font-weight: 700;
}

article img {
  max-width: 10%;
  border-radius: 50%;
}

article>div {
  display: flex;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}